<div class="section-head">
  <%= image_tag('dragNoBlue.png', class: 'drag-no') %>
  <%= check_box(nil, nil, class: 'section-selection') %>
</div>
<%= link_to 'Add Case', '#', class: 'link add-case' %>
|
<%= link_to 'Add Subsection', '', class: 'link add-section', remote: true %>
<div id="dialog" title="Dialogue title">I'm a dialog</div>
