$('#squarespaceModal').slideUp(700);
$('#flash').html("<%= j render 'shared/errors' %>").delay(2000).fadeOut(2000, function () {
    $(this).children();
});


<% if @section.save %>
  <% if !@section.parent_id.nil? %>
    $("[data-attribute = '<%= @section.parent_id %>']").parent()
      .append("<ul><li><%= j render_block(@section) %></li></ul>").children().children()
      .attr('style', 'display:none').slideDown(700);
  <% else %>
    $('#cases').children().append("<%= j render_block @section %>");
  <% end %>
<% end %>
