$('#squarespaceModal').hide();
$('#flash').show().html("<%= j render 'shared/errors' %>").delay(2000).fadeOut(2000, function () {
    $(this).children();
});

<% if @section.save %>
  <% if !@section.parent_id.nil? %>
    $("[data-attribute = '<%= @section.parent_id %>']").closest('.section-block')
      .append("<ul><li><%= j render_block(@section) %></li></ul>").find('li').last()
      .attr('style', 'display:none').slideDown(700);
  <% else %>
    $('#cases').append("<ul><li><%= j render_block @section %></li></ul>");
  <% end %>
<% end %>