// Place all the styles related to the Suites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// the parent cell for suite
.cell
  overflow: hidden
  padding: 10px 0
  border-bottom: 1px dotted
  margin-left: 5px

//suite icon
.icon
  float: left
  padding: 0 10px

// text block with suite title and links
.suite
  overflow: hidden

#name
  width: 450px

.form-separator
  margin: 20px 0
  height: 1px
  width: 450px
  border-bottom: 1px solid #d7d7d7

.form-group textarea.form-control
  height: 130px

.label
  margin: 12px
  color: white
  font-weight: normal
  background: #748cce
  float: left

.description
  padding: 20px

#jstree_div
  margin-top: 20px

.section-name
  font-weight: bold
  padding-right: 10px

.section-nav
  height: 30px
  background: #f2f8ff
  border-bottom: 1px solid #e0e0e0
  border-top: 1px solid #e0e0e0
  margin: 8px 0 5px 0
  padding: 4px

#cases
  padding-right: 20px

.drag-no
  margin-bottom: 7px
  padding-right: 10px

.link
  color: inherit
  text-decoration: underline

.section-block
  margin-top: 10px
  padding-left: 30px
  border-left: 1px solid #e0e0e0

#cases ul
  padding-left: 0

div.modal-backdrop
  z-index: -1

.action-hover
  margin: 0 4px
  display: none

.section-head:hover
  .action-hover
    display: inline-block