// Place all the styles related to the Suites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// the parent cell for suite
.cell
  overflow: hidden
  padding: 10px 0
  border-bottom: 1px dotted
  margin-left: 5px
  //suite icon
  .icon
    float: left
    padding: 0 10px
  // text block with suite title and links
  .suite
    overflow: hidden

#name
  width: 450px

.form-separator
  margin: 20px 0
  height: 1px
  width: 450px
  border-bottom: 1px solid #d7d7d7

.form-group textarea.form-control
  height: 130px

.label
  margin: 12px
  color: white
  font-weight: normal
  background: #748cce
  float: left

.description
  padding: 20px

#jstree_div
  margin-top: 20px

#cases
  padding-right: 20px

.section-block
  margin-top: 10px
  padding-left: 30px
  border-left: 1px solid #e0e0e0

  .section-head
    padding-bottom: 7px

    .section-name
      font-weight: bold
      padding-right: 10px

  .section-head:hover
    .action-hover
      display: inline-block

#cases ul
  padding-left: 0

div.modal-backdrop
  z-index: -1

.action-hover
  margin: 0 4px
  display: none

.table.table-hover
  margin-bottom: 10px

  .section-nav
    background: #f2f8ff
    border-top: 1px solid #e0e0e0

    .drag-no
      width: 20px
      padding-bottom: 7px

  .case-cell:hover
    .action-hover
      display: inline-block

  th, td
    padding: 5px 3px
    border-bottom: 1px solid #e0e0e0
    a
      color: #32588b
  .checkbox
    display: table-cell
    padding-top: 10px
    width: 27px

    .case-selection
      margin: 0

  .case-edit, .case-delete
    width: 35px

.oddSelected
  background-color: #ffffe5

.evenSelected
  background-color: #fffff0

.buttons
  display: inline
  input[type='image']
    position: relative
    top: 2px
    padding: 0 5px
  .close
    float: initial

.inline-container
  position: relative
  .link
    color: inherit
    text-decoration: underline
  .inlineTestCase
    background-color: white
    position: absolute
    left: 0