// Place all the styles related to the Suites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// the parent cell for suite
.cell {
  overflow: hidden;
  padding: 10px;
}

//suite icon
.icon {
  float: left;
  padding: 0 10px;
}

// text block with suite title and links
.suite {
  overflow: hidden;
}